# URL Google Apps Script Web App (sau khi Deploy với quyền Anyone)
# Ví dụ: VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycb.../exec
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby_NJ0w14VpPwA_EXOeqQEa64DbmllRa1caCphu9n7ZnDiX1Xdt9kOrcgRKynkeiUMtYg/exec
